@model IEnumerable<BookRental.ViewModel.UserViewModel>
@using BookRental.Models
    @{
        ViewBag.Title = "Index";
    }

    <h2>Users</h2>

    @Html.Partial("_CreateButtonPartial")

    <br />
    <br />
    <br />

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="row">
                <th class="col">
                    @Html.DisplayNameFor(m => m.fname)
                </th>
                <th class="col">

                    @Html.DisplayNameFor(m => m.lname)
                </th>
                <th class="col">

                    @Html.DisplayNameFor(m => m.email)
                </th>
                <th class="col">

                    @Html.DisplayNameFor(m => m.bdate)
                </th>
                <th class="col">

                    @Html.DisplayNameFor(m => m.phone)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(m => m.disabled)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col">
                        @Html.DisplayNameFor(item => item.fname)
                    </td>
                    <td class="col">

                        @Html.DisplayNameFor(item => item.lname)
                    </td>
                    <td class="col">

                        @Html.DisplayNameFor(item => item.email)
                    </td>
                    <td class="col">

                        @Html.DisplayNameFor(item => item.bdate)
                    </td>
                    <td class="col">

                        @Html.DisplayNameFor(item => item.phone)
                    </td>
                    <td class="col">
                        @Html.CheckBoxFor(m => item.disabled, new { @class = "disabled" })
                    </td>
                    <td class="col">
                        @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { userId = item.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>

