@model IEnumerable<BookRental.ViewModel.UserViewModel>

@using BookRental.Models
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@Html.Partial("_CreateButtonPartial")

<br />
<br />
<br />

<table class="table table-hover table-responsive-lg w-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.fname)
            </th>
            <th scope="col">

                @Html.DisplayNameFor(m => m.lname)
            </th>
            <th scope="col">

                @Html.DisplayNameFor(m => m.email)
            </th>
            <th scope="col">

                @Html.DisplayNameFor(m => m.bdate)
            </th>
            <th scope="col">

                @Html.DisplayNameFor(m => m.phone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.disabled)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>
                    @{rowNo += 1; }
                    @rowNo
                </td>
                <td>
                    @Html.DisplayFor(m => item.fname)
                </td>
                <td>

                    @Html.DisplayFor(m => item.lname)
                </td>
                <td>

                    @Html.DisplayFor(m => item.email)
                </td>
                <td>

                    @Html.DisplayFor(m => item.bdate)
                </td>
                <td>

                    @Html.DisplayFor(m => item.phone)
                </td>
                <td>
                    @Html.CheckBoxFor(m => item.disabled, new { disabled = "disabled" })
                </td>
                <td>
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { userId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

