@model BookRental.Models.IndexViewModel
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h2>Change Credentials</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.membershipTypeId)

        <div class="form-horizontal">
            <div class="border rounded">

                @*First Name*@
                <div class="form-group">
                    @Html.LabelFor(m => m.fname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.fname, new { htmlattributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.fname, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Last Name*@
                <div class="form-group">
                    @Html.LabelFor(m => m.lname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.lname, new { htmlattributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.lname, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Birthday*@
                <div class="form-group">
                    @Html.LabelFor(m => m.bdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.bdate, "{0: MM/dd/yyyy}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.bdate, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Phone*@
                <div class="form-group">
                    @Html.LabelFor(m => m.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.phone, new { htmlattributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Email Adress*@
                <div class="form-group">
                    @Html.LabelFor(m => m.mail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.mail, new { htmlattributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.mail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <fieldset disabled>
                    @*Membership Type*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.membershipTypeID, "Membership Type", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.membershipTypeID, new SelectList(Model.MembershipTypes, "membershipTypesIdPK", "name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.membershipTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="offset-md-2">
                    <a type="button" href="@Url.Action("Index")" class="btn btn-sm btn-primary">
                        <span class="text-capitalize">back to profile</span>
                    </a>
                    <input type="submit" value="Update Details" class="btn btn-sm btn-success" />
                </div>
            </div>
        </div>
    </div>
}