@model BookRental.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div>
    <hr />


    <div class="form-horizontal">
        <div class="border rounded">
            <div class="col-md-10">
                @if (Model.HasPassword)
                {
                    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("ChangePassword")">
                        <span class="text">Change Password</span>
                    </a>
                }
                else
                {
                    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("SetPassword")">
                        <span class="text">Create Password</span>
                    </a>
                }

                &nbsp;
                &nbsp;

                <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("ManageLogins")">
                    <span class="text">Manage External Logins</span>
                </a>
            </div>

            <fieldset disabled>

                @*First Name*@
                <div class="form-group">
                    @Html.LabelFor(m => m.fname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.fname, new { htmlattributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*Last Name*@
                <div class="form-group">
                    @Html.LabelFor(m => m.lname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.lname, new { htmlattributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*Birthday*@
                <div class="form-group">
                    @Html.LabelFor(m => m.bdate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.bdate, "{0: MM/dd/yyyy}", new { @class = "form-control" })
                    </div>
                </div>

                @*Phone*@
                <div class="form-group">
                    @Html.LabelFor(m => m.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.phone, new { htmlattributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*Email Adress*@
                <div class="form-group">
                    @Html.LabelFor(m => m.mail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.mail, new { htmlattributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*Membership Type*@
                <div class="form-group">
                    @Html.LabelFor(m => m.id, "Membership Type", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.id, new SelectList(Model.MembershipTypes, "membershipTypesIdPK", "name"), new { @class = "form-control" })
                    </div>
                </div>

            </fieldset>
            <br />
            <div class="offset-md-2">
                @Html.ActionLink("Edit", "Edit", "Manage", null, new { @class = "btn btn-sm btn-success" })
            </div>
        </div>
    </div>
</div>
