@model BookRental.ViewModel.BookViewMdoel

@{
    ViewBag.Title = "Delete";
}
<br />

<h2 class="table-warning text-center"><span class="fa fa-trash"></span>&nbsp;<span class="fa fa-book"></span></h2>
<h3 class="font-weight-bold">Are you sure you want to delete <span class="text-danger">@Model.Book.tittle</span><span class="fa fa-question"></span></h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Book.bookIdPK)
        <div class="row" style="border: 1px solid black; border-radius: 5px;">
            <br />
            <div class="col-10">
                <fieldset disabled>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.ISBN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.tittle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.tittle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.tittle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.author, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.author, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.author, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Book.description, new { @class = "form-control", style = "height: 250px" })
                            @*@Html.EditorFor(model => model.Book.description, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.Book.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.imgUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.imgUrl, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.imgUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.availability, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.availability, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.availability, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.dateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Book.dateAdded, "{0:MM/DD/YYYY}", new { @type = "date", @class = "form-control", @placeholder = "Format: dd/mm/yyyy" })
                            @Html.ValidationMessageFor(model => model.Book.dateAdded, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.genreId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Book.genreId, new SelectList(Model.Genres, "genreIdPK", "name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Book.genreId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*Publisher*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.publisher, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.publisher, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.publisher, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.publicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Book.publicationDate, "{0:MM/DD/YYYY}", new { @type = "date", @class = "form-control", @placeholder = "Format: dd/mm/yyyy" })
                            @Html.ValidationMessageFor(model => model.Book.publicationDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.pages, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.pages, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.pages, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Book.productDimensions, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Book.productDimensions, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Book.productDimensions, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>

            @*Image*@
            <div class="col-2">
                <div>
                    <img src="@Model.Book.imgUrl" alt="@Model.Book.tittle by @Model.Book.author" style="width: 100px; height: auto;" />
                </div>
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                @Html.Partial("_BackToListButtonPartial")
            </div>
        </div>
    </div>
}
