@model IEnumerable<BookRental.Views.Home.Book>
@using BookRental.Models
@{
    ViewBag.Title = "Index";
}

<h3>Manage Books</h3>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-hover table-responsive-lg w-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.tittle)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.availability)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Genre.name)
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ int rowCount = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @{rowCount += 1; }
                    @rowCount
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tittle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.name)
                </td>
                <td>
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { bookId = item.bookIdPK })
                </td>
            </tr>
        }
    </tbody>
</table>
