@model BookRental.Models.MembershipTypes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MembershipTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignUpFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignUpFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeRateOneMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeRateOneMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chargeRateSixMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chargeRateSixMonth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.membershipTypesIdPK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
