@model IEnumerable<BookRental.Models.MembershipTypes>
@using BookRental.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-hover table-responsive-lg">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SignUpFee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.chargeRateOneMonth)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.chargeRateSixMonth)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="font-weight-bold">
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.SignUpFee)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.chargeRateOneMonth)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.chargeRateSixMonth)
                </td>
                <td class="text-center">
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { membershipTypeId = item.membershipTypesIdPK })
                </td>
            </tr>
        }
    </tbody>
</table>
